version: '3.9'

services:
  db:
    image: postgres:15
    container_name: tpma_postgres
    environment:
      POSTGRES_USER: tpma_user
      POSTGRES_PASSWORD: tpma_pass
      POSTGRES_DB: tpma_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: tpma_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      POSTGRES_USER: tpma_user
      POSTGRES_PASSWORD: tpma_pass
      POSTGRES_DB: tpma_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432

volumes:
  postgres_data:
